{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/courses-view

    This template renders the courses view for the myoverview block.

    Example context (json):
    {}
}}
<div id="more-courses-view-{{uniqid}}" data-region="more-courses-view">
    {{#hascourses}}
    <div class="text-xs-center text-center">
        <div class="btn-group m-y-2" role="group" data-toggle="btns">
            <a class="btn btn-default active" href="#more_myoverview_courses_view_in_progress" data-toggle="tab">
                {{#str}} inprogress, block_myoverview {{/str}}
            </a>
        </div>
    </div>
    {{!
    A retirada dos demais processos, 'tempos' de cursos(futuro e passado aqui), ao mesmo tempo que é bizzarro, é interessante...
    não faz sentido apresentar um curso sendo ele comunidade, pesquisa ou qualquer outra coisa, se retiramos eles... ele já foi resolvido... :D
    além disso esses botões estão quebrando as páginas...(esse é o principal motivo, e não da tempo de investigar agora.)
    vamoss ver se funciona? E só por uma questão de estetica manteremos o em progresso :D (se tirar ele o espaçamento fica estranho :/)
    uma cagada, bem, atualmete acho, mas pra quem fica estão aí minhas sinceras desculpas, e tomara que você não entenda minha decisão e fique tão puto
    quanto eu fico agora :D
    E pra garantir, o primeiro quem achar esse comentário, ganha R$ 400,00 reais, que foi o cachê do show de sábado 20180324.
    e em acordo infinito(qualquer pessoa que achar depois), ganha a primeira conta do bar.(a primeira vez que a gente se encontrar eu pago a conta.
    só escolhe um restaurante bom!!! ok?)
    *só não vale pra quem eu mostrar :P
    murilotimo@gmail.com
    }}
    <div class="tab-content">
        <div class="tab-pane active fade in" id="more_myoverview_courses_view_in_progress">
            {{#inprogress}}
                {{< block_myoverview/courses-view-by-status }}
                    {{$id}}courses-view-in-progress{{/id}}
                    {{$status}}1{{/status}}
                    {{$pagingbarid}}pb-for-in-progress{{/pagingbarid}}
                    {{$pagingcontentid}}pc-for-in-progress{{/pagingcontentid}}
                {{/ block_myoverview/courses-view-by-status }}
            {{/inprogress}}
            {{^inprogress}}
                <div class="text-xs-center text-center m-t-3">
                    <img class="empty-placeholder-image-lg"
                         src="{{urls.nocourses}}"
                         alt="{{#str}} nocoursesinprogress, block_myoverview {{/str}}"
                         role="presentation">
                    <p class="text-muted m-t-1">{{#str}} nocoursesinprogress, block_myoverview {{/str}}</p>
                </div>
            {{/inprogress}}
        </div>
        <div class="tab-pane fade" id="more_myoverview_courses_view_future">
            {{#future}}
                {{< block_myoverview/courses-view-by-status }}
                    {{$id}}courses-view-future{{/id}}
                    {{$status}}2{{/status}}
                    {{$pagingbarid}}pb-for-future{{/pagingbarid}}
                    {{$pagingcontentid}}pc-for-in-progress{{/pagingcontentid}}
                {{/ block_myoverview/courses-view-by-status }}
            {{/future}}
            {{^future}}
                <div class="text-xs-center text-center m-t-3">
                    <img class="empty-placeholder-image-lg"
                         src="{{urls.nocourses}}"
                         alt="{{#str}} nocoursesfuture, block_myoverview {{/str}}"
                         role="presentation">
                    <p class="text-muted m-t-1">{{#str}} nocoursesfuture, block_myoverview {{/str}}</p>
                </div>
            {{/future}}
        </div>
        <div class="tab-pane fade" id="more_myoverview_courses_view_past">
            {{#past}}
                {{< block_myoverview/courses-view-by-status }}
                    {{$id}}courses-view-past{{/id}}
                    {{$status}}0{{/status}}
                    {{$pagingbarid}}pb-for-past{{/pagingbarid}}
                    {{$pagingcontentid}}pc-for-in-progress{{/pagingcontentid}}
                {{/ block_myoverview/courses-view-by-status }}
            {{/past}}
            {{^past}}
                <div class="text-xs-center text-center m-t-3">
                    <img class="empty-placeholder-image-lg"
                         src="{{urls.nocourses}}"
                         alt="{{#str}} nocoursespast, block_myoverview {{/str}}"
                         role="presentation">
                    <p class="text-muted m-t-1">{{#str}} nocoursespast, block_myoverview {{/str}}</p>
                </div>
            {{/past}}
        </div>
    </div>
    {{/hascourses}}
    {{^hascourses}}
    <div class="text-xs-center text-center m-t-3">
        <img class="empty-placeholder-image-lg"
             src="{{urls.nocourses}}"
             alt="{{#str}} nocourses, block_myoverview {{/str}}"
             role="presentation">
        <p class="text-muted m-t-1">{{#str}} nocourses, block_myoverview {{/str}}</p>
    </div>
    {{/hascourses}}
</div>
{{#js}}
require(['jquery', 'core/custom_interaction_events'], function($, customEvents) {
    var root = $('#courses-view-{{uniqid}}');
    customEvents.define(root, [customEvents.events.activate]);
    root.on(customEvents.events.activate, '[data-toggle="btns"] > .btn', function() {
        root.find('.btn.active').removeClass('active');
    });
});
{{/js}}
